@using BlogProject.ViewModels.ComponentViewModel
@model List<PopularTagBoxViewModel>


<div class="box-widget fl-wrap">
    <div class="widget-title">Popüler Etiketler</div>
    <div class="box-widget-content">
        <div class="tags-widget">
            @foreach (PopularTagBoxViewModel item in Model)
            {
                <a href="#">@item.TagName</a>
            }
        </div>
    </div>
</div>