
@{
    ViewBag.Title = "Hakkımda";
    ViewBag.VisibleRouteSection = true;
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

<div class="content">
    <!--section   -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title sect_dec">
                        <h2>Our Story</h2>
                        <h4>Who we are</h4>
                    </div>
                    <div class="about-wrap">
                        <p>Genç yaşta gelen teknoloji merakı ile seçtiğim Bilgisayar Mühendisliği bölümünde 3.'sü olarak eğitim hayatımı sürdürüyorum. Otomasyon, gömülü sistem, web ve mobil uygulama gibi birçok alanda projeler geliştirdim. Şuan yoğun olarak mobil uygulama ve aynı zamanda tübitak projesi ile ilgileniyorum. Bilginin sonsuz derinlikte olduğu bu deryada her geçen gün kendime yeni kazanımlar katmaya devam ediyorum. </p>
                        <a href="#" class="btn float-btn color-btn image-popup"> <span>Tanıştığımıza Sevindim</span> <i class="fas fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="~/gmag/images/all/6.jpg" class="respimg" alt="">
                        <div class="about-img-hotifer color-bg">
                            <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                            <h4>Mark Antony</h4>
                            <h5>Gmag CEO</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-dec"></div>
    </section>
    <!--about end   -->
</div>

