
@{
    ViewBag.Title = "Hakkımda";
    ViewBag.VisibleRouteSection = false;
    Layout = "~/Views/Shared/BlogLayout.cshtml";
}

<div class="content">
    <!--section   -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="section-title sect_dec">
                        <h2>Furkan Ayyıldız</h2>
                        <h4>Benim hakkımda</h4>
                    </div>
                    <div class="about-wrap">
                        <p>Genç yaşta gelen teknoloji merakı ile seçtiğim Bilgisayar Mühendisliği bölümünde bölüm 3.'sü olarak mezun oldum. Otomasyon, gömülü sistem, web ve mobil uygulama gibi birçok alanda projeler geliştirdim. Şuan yoğun olarak mobil uygulama ve aynı zamanda web projeleri ile ilgileniyorum. Bilginin sonsuz derinlikte olduğu bu deryada her geçen gün kendime yeni kazanımlar katmaya devam ediyorum. </p>
                        <a href="#"  class="btn float-btn color-btn "> <span>TANIŞTIĞIMIZA SEVİNDİM</span></a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="~/gmag/images/all/laptopCode.jpg" class="respimg" alt="">
                        <div class="about-img-hotifer color-bg">
                            <p>Bilgi güçtür </p>
                            <h4>Bacon</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sec-dec"></div>
    </section>
    <!--about end   -->
</div>



