@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@model EntityLayer.Concrete.ContactUser

@{
	ViewBag.Title = "İletişim";
	ViewBag.VisibleRouteSection = true;
	Layout = "~/Views/Shared/BlogLayout.cshtml";
}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="pr-subtitle prs_big">İletişim</div>
				<!--card-item -->
				<ul class="contacts-list fl-wrap">
					<li><span><i class="fal fa-map-marker"></i> Adres :</span> <a href="contacts.html#">Türkiye</a></li>
					@* <li><span><i class="fal fa-phone"></i> Telefon :</span> <a href="contacts.html#">132123</a></li> *@
					<li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="mailto:furkanayyildiz55@hotmail.com">furkanayyildiz55@hotmail.com</a></li>
				</ul>
				<!--card-item end -->
				<div class="contact-social fl-wrap">
					<span class="cs-title">Soyal Hesaplarım: </span>
					<ul>
						<li><a href="contacts.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="contacts.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="contacts.html#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="contacts.html#" target="_blank"><i class="fab fa-vk"></i></a></li>
						<li><a href="contacts.html#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
					</ul>
				</div>
@* 				<!-- box-widget -->
				<div class="box-widget-content fl-wrap">
					<div class="banner-widget fl-wrap">
						<div class="bg-wrap bg-parallax-wrap-gradien">
							<div class="bg  " data-bg="~/gmag/images/avatar/1.jpg"></div>
						</div>
						<div class="banner-widget_content">
							<h5>Visit our awesome merch and souvenir online shop.</h5>
							<a href="contacts.html#" class="btn float-btn color-bg small-btn">Our shop</a>
						</div>
					</div>
				</div>
				<!-- box-widget  end --> *@
			</div>
			<div class="col-md-8">
				<div class="pad-con fl-wrap">
					<div class="pr-subtitle prs_big">Bana bir mesaj bırak !</div>
					<p>İletişim bilgilerini girdikten sonra bana mesaj bırakabilrisin, mesajları günlük periyotlarda takip etmekteyim. Bol şanslar. </p>
					<div id="contact-form" style="margin-top: 20px;">
						<div id="message"></div>
						
						<form asp-action="Index" asp-controller="Contact" method="post" class="custom-form"  id="contactform">
								<input asp-for="UserName" type="text"  id="name" placeholder="İsim - Soy İsim *"  />
								<input asp-for="UserEmail" type="text"  id="email" placeholder="EMail*"  />
								<textarea asp-for="Message"  id="comments" cols="40" rows="3" placeholder="Mesaj :"></textarea>
							<button type="submit" class="btn color-bg float-btn" >Mesajı Gönder<i class="fas fa-caret-right"></i></button>
						</form>
						
					</div>
					<!-- contact form  end-->
				</div>
			</div>
		</div>
	</div>
</section>
					
