<div class="box-widget fl-wrap">
    <div class="box-widget-content">
        <div class="single-grid-slider slider_widget">
            <div class="slider_widget_title">Yazarın Seçimi</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                        <div class="grid-post-item     fl-wrap">
                            <div class="grid-post-media gpm_sing">
                                <div class="bg-wrap">
                                    <div class="bg" data-bg="images/all/21.jpg"></div>
                                    <div class="overlay"></div>
                                </div>
                                <div class="grid-post-media_title">
                                    <a class="post-category-marker" href="category.html">Technology</a>
                                    <h4><a href="post-single.html">Tesla it tested hypersonic Model-C</a></h4>
                                    <span class="video-date"><i class="far fa-clock"></i>16 january 2022</span>
                                    <ul class="post-opt">
                                        <li><i class="far fa-comments-alt"></i> 11 </li>
                                        <li><i class="fal fa-eye"></i>  55 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                        <div class="grid-post-item  bold_gpi  fl-wrap">
                            <div class="grid-post-media gpm_sing">
                                <div class="bg-wrap">
                                    <div class="bg" data-bg="images/all/41.jpg"></div>
                                    <div class="overlay"></div>
                                </div>
                                <div class="grid-post-media_title">
                                    <a class="post-category-marker" href="category.html">Politics</a>
                                    <h4><a href="post-single.html">Blue Origin practices with   orbital rocket in Florida</a></h4>
                                    <span class="video-date"><i class="far fa-clock"></i> 05 december 2021</span>
                                    <ul class="post-opt">
                                        <li><i class="far fa-comments-alt"></i>  14 </li>
                                        <li><i class="fal fa-eye"></i>  134 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                    <!-- swiper-slide-->
                    <div class="swiper-slide">
                        <div class="grid-post-item  bold_gpi  fl-wrap">
                            <div class="grid-post-media gpm_sing">
                                <div class="bg-wrap">
                                    <div class="bg" data-bg="images/all/22.jpg"></div>
                                    <div class="overlay"></div>
                                </div>
                                <div class="grid-post-media_title">
                                    <a class="post-category-marker" href="category.html">Technology</a>
                                    <h4><a href="post-single.html">Scientific research goes to the next level</a></h4>
                                    <span class="video-date"><i class="far fa-clock"></i> 03 March 2022</span>
                                    <ul class="post-opt">
                                        <li><i class="far fa-comments-alt"></i>  25 </li>
                                        <li><i class="fal fa-eye"></i>  164 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper-slide end-->
                </div>
                <div class="sgs-pagination sgs_hor "></div>
            </div>
        </div>
    </div>
</div>
