<form id="subscribe" class="fl-wrap">
    <input class="enteremail" name="email" id="subscribe-email" placeholder="Email Adresiniz" spellcheck="false" type="text">
    <button type="submit" id="subscribe-button" class="subscribe-button color-bg">Abone Ol </button>
    <label for="subscribe-email" class="subscribe-message"></label>
</form>


