<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">

    <title>@ViewBag.Title</title>
    
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="~/gmag/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/gmag/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/gmag/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/gmag/images/favicon.ico">

    <!--=============== scripts  ===============-->
    <script src="~/gmag/js/jquery.min.js"></script>
        <script src="~/gmag/js/plugins.js"></script>
    <script src="~/gmag/js/scripts.js"></script>
</head>
<body>
    <!-- main start  -->
    <div id="main">
        <!-- progress-bar  -->
        <div class="progress-bar-wrap">
            <div class="progress-bar color-bg"></div>
        </div>
        <!-- progress-bar end -->
        <!-- header -->
        <header class="main-header">
            <!-- top bar -->
            <div class="top-bar fl-wrap">
                <div class="container">
                    <div class="date-holder">
                        <span class="date_num"></span>
                        <span class="date_mounth"></span>
                        <span class="date_year"></span>
                    </div>
                    <div class="header_news-ticker-wrap">
                        <div class="hnt_title">Yeni Bloglar :</div>
                        <div class="header_news-ticker fl-wrap">
                            <ul>
                                <li><a href="post-single.html">BLOG BAŞLIKLARI</a></li>
                                <li><a href="post-single.html">BLOG BAŞLIKLARI</a></li>
                                <li><a href="post-single.html">BLOG BAŞLIKLARI</a></li>
                            </ul>
                        </div>
                        <div class="n_contr-wrap">
                            <div class="n_contr p_btn"><i class="fas fa-caret-left"></i></div>
                            <div class="n_contr n_btn"><i class="fas fa-caret-right"></i></div>
                        </div>
                    </div>
                    <ul class="topbar-social">
                        <li><a href="index3.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="index3.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="index3.html#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="index3.html#" target="_blank"><i class="fab fa-vk"></i></a></li>
                        <li><a href="index3.html#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- top bar end -->
            <div class="header-inner fl-wrap">
                <div class="container">
                    <!-- logo holder  -->
                    <a href="index.html" class="logo-holder"><img src="~/gmag/images/logo.png" alt=""></a>
                    <!-- logo holder end -->
                    <div class="search_btn htact show_search-btn"><i class="far fa-search"></i> <span class="header-tooltip">Ara</span></div>
                    <div class="srf_btn htact show-reg-form"><i class="fal fa-user"></i> <span class="header-tooltip">Giriş Yap</span></div>
                    <div class="show-cart sc_btn htact"><i class="fal fa-house"></i><span class="header-tooltip">Ana Sayfa</span></div>

                    <!-- header-search-wrap -->
                    <div class="header-search-wrap novis_sarch">
                        <div class="widget-inner">
                            <form action="index3.html#">
                                <input name="se" id="se" type="text" class="search" placeholder="Ara..." value="" />
                                <button class="search-submit" id="submit_btn"><i class="fa fa-search transition"></i> </button>
                            </form>
                        </div>
                    </div>
                    <!-- header-search-wrap end -->

                    <!-- nav-button-wrap-->
                    <div class="nav-button-wrap">
                        <div class="nav-button">
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <!-- nav-button-wrap end-->
                    <!--  navigation -->
                    <div class="nav-holder main-menu">
                        <nav>
                            <ul>
                                <li>
                                    <!--act-link akctive link olarak kullanılabilir-->
                                    <a href="/Home/Index" class="">Ana Sayfa</a>
                                </li>
                                <li>
                                </li>
                                <li><a href="/Blog/Index/">Bloglar</a></li>
                                <li><a href="/About/Index/">Hakkımda</a></li>
                                <li><a href="/Contact/Index/">İLETİŞİM</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- navigation  end -->
                </div>
            </div>
        </header>
        <!-- header end  -->
        <!-- wrapper -->
        <div id="wrapper">
            <!-- content    -->
            @if (ViewBag.VisibleRouteSection!=null  &&  ViewBag.VisibleRouteSection)
            {
                <!--section   -->
                <div class="breadcrumbs-header fl-wrap">
                    <div class="container">
                        <div class="breadcrumbs-header_url">
                            <a href="#">@ViewBag.Title</a>
                        </div>
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Keşfetmek İçin Aşağı Kaydırın</span>
                        </div>
                    </div>
                    <div class="pwh_bg"></div>
                </div>
                <!-- section end  -->
            }

            @RenderBody()
            <!-- content  end-->
            <!-- footer -->
            <footer class="fl-wrap main-footer">
                <div class="container">
                    <!-- footer-widget-wrap -->
                    <div class="footer-widget-wrap fl-wrap">
                        <div class="row">
                            <!-- footer-widget -->
                            <div class="col-md-4">
                                <div class="footer-widget">
                                    <div class="footer-widget-content">
                                        <a href="index.html" class="footer-logo"><img src="images/logo2.png" alt=""></a>
                                        <p>Beni sosyal medya hesaplarımdan takip edebilir, iletişime geçebilirsiniz. </p>
                                        <div class="footer-social fl-wrap">
                                            <ul>
                                                <li><a href="index3.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="index3.html#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="index3.html#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="index3.html#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                                <li><a href="index3.html#" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                            <!-- footer-widget -->
                            <div class="col-md-2">
                                <div class="footer-widget">
                                    <div class="footer-widget-title">Kategoriler </div>
                                    <div class="footer-widget-content">
                                        <div class="footer-list footer-box fl-wrap">
                                            <ul>
                                                <li> <a href="index3.html#">C Sharp</a></li>
                                                <li> <a href="index3.html#">ASP .NET Core</a></li>
                                                <li> <a href="index3.html#">Flutter</a></li>
                                                <li> <a href="index3.html#">Teknoloji</a></li>
                                                <li> <a href="index3.html#">Faydalı</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                            <!-- footer-widget -->
                            <div class="col-md-2">
                                <div class="footer-widget">
                                    <div class="footer-widget-title">Linkler</div>
                                    <div class="footer-widget-content">
                                        <div class="footer-list footer-box fl-wrap">
                                            <ul>
                                                <li> <a href="index3.html#">Ana Sayfa</a></li>
                                                <li> <a href="index3.html#">Hakkımda</a></li>
                                                <li> <a href="index3.html#">İletişim</a></li>
                                                <li> <a href="index3.html#">Son Blog Yazısı</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                            <!-- footer-widget -->
                            <div class="col-md-4">
                                <div class="footer-widget">
                                    <div class="footer-widget-title">Abone Ol</div>
                                    <div class="footer-widget-content">
                                        <div class="subcribe-form fl-wrap">
                                            <p>Yeni bir şablon veya güncelleme başlattığımızda bildirim almak ister misiniz? Sadece kaydolun, size bir e-posta bildirimi göndereceğiz.</p>
                                            <!-- footer-subscribe-->
                                            @await Component.InvokeAsync("SubscribeFormWidget")
                                            <!-- footer-subscribe end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- footer-widget  end-->
                        </div>
                    </div>
                    <!-- footer-widget-wrap end-->
                </div>
                <div class="footer-bottom fl-wrap">
                    <div class="container">
                        <div class="copyright"><span>&#169; Furkan Ayyıldız 2023</span> . Hakları saklıdır. </div>
                        <div class="to-top"> <i class="fas fa-caret-up"></i></div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->
        </div>
        <!-- wrapper end -->
        <!-- cookie-info-bar -->
@*         <div class="cookie-info-bar">
            <div class="container">
                <div class="cookie-info-bar_title"><i class="fal fa-cookie"></i>Our site uses cookies. Learn more about our use of cookies: <a href="index3.html#">Cookie policy</a></div>
                <a href="index3.html#" class="sicb_btn color-bg">Accept</a>
                <a href="index3.html#" class="sicb_btn">Reject</a>
            </div>
        </div> *@
        <!-- cookie-info-bar end -->
        <!--register form -->
        <div class="main-register-container">
            <div class="reg-overlay close-reg-form"></div>
            <div class="main-register-holder">
                <div class="main-register-wrap fl-wrap">
                    <div class="main-register_bg">
                        <div class="bg-wrap">
                            <div class="bg par-elem " data-bg="~/gmag/images/bg/1.jpg"></div>
                            <div class="overlay"></div>
                        </div>
                        <div class="mg_logo"><img src="~/gmag/images/logo2.png" alt=""></div>
                    </div>
                    <div class="main-register tabs-act fl-wrap">
                        <ul class="tabs-menu">
                            <li class="current"><a href="#"><i class="fal fa-sign-in-alt"></i> Giriş Yap</a></li>
                        </ul>
                        <div class="close-modal close-reg-form"><i class="fal fa-times"></i></div>
                        <!--tabs -->
                        <div id="tabs-container">
                            <div class="tab">
                                <!--tab -->
                                <div id="tab-1" class="tab-content first-tab">
                                    <div class="custom-form">
                                        <form method="post" name="registerform">
                                            <label>Username or Email Address <span>*</span> </label>
                                            <input name="email" type="text" onClick="this.select()" value="">
                                            <label>Password <span>*</span> </label>
                                            <input name="password" type="password" onClick="this.select()" value="">
                                            <div class="filter-tags">
                                                <input id="check-a" type="checkbox" name="check" checked>
                                                <label for="check-a">Remember me</label>
                                            </div>
                                            <div class="lost_password">
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="submit" class="log-submit-btn color-bg"><span>Şimdi Giriş Yap</span></button>
                                        </form>
                                    </div>
                                </div>
                                <!--tab end -->
                            </div>
                            <!--tabs end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--register form end -->

    </div>
    <!-- Main end -->

</body>
</html>