@using BlogProject.DTO
@model List<CommentListDTO>

<!--comments  -->
<div id="comments" class="single-post-comm fl-wrap">
    <div class="pr-subtitle prs_big">Yorumlar  <span>3</span></div>

    <ul class="commentlist clearafix">
        @foreach (var commentListDTO in Model)
        {
                    <li class="comment">
            <div class="comment-author">
                <img alt="" src="~/gmag/images/avatar/2.jpg" width="50" height="50">
            </div>
            <div class="comment-body smpar">
                <h4><a href="post-single.html#">Kevin Antony</a></h4>
                <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                <div class="show-more-snopt-tooltip bxwt">
                    <a href="post-single.html#"> <i class="fas fa-reply"></i> Cevapla</a>
                    <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                </div>
                <div class="clearfix"></div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo.</p>
                <a class="comment-reply-link" href="post-single.html#"><i class="fas fa-reply"></i> Cevapla</a>
                <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                <div class="comment-body_dec"></div>
            </div>
        </li>

            foreach (var item in commentListDTO.ReplyComment)
            {
                <li class="comment comment_reply">
                    <div class="comment-author">
                        <img alt="" src="~/gmag/images/avatar/4.jpg" width="50" height="50">
                    </div>
                    <div class="comment-body smpar">
                        <h4><a href="post-single.html#">Liza Rose</a></h4>
                        <div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
                        <div class="show-more-snopt-tooltip bxwt">
                            <a href="post-single.html#"> <i class="fas fa-reply"></i> Cevapla</a>
                            <a href="post-single.html#"> <i class="fas fa-exclamation-triangle"></i> Raporla </a>
                        </div>
                        <div class="clearfix"></div>
                        <p>  In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
                        <a class="comment-reply-link" href="post-single.html#"><i class="fas fa-reply"></i> Cevapla</a>
                        <div class="comment-meta"><i class="far fa-clock"></i> January 02, 2020</div>
                        <div class="comment-body_dec"></div>
                    </div>
                </li>
            }

        }

    </ul>
    <div class="clearfix"></div>
    <div id="addcom" class="clearafix">
        <div class="pr-subtitle"> Leave A Comment <i class="fas fa-caret-down"></i></div>
        <div class="comment-reply-form fl-wrap">
            <form id="add-comment" class="add-comment custom-form">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Name *" value="" />
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Email Address*" value="" />
                        </div>
                    </div>
                    <textarea placeholder="Your Comment:"></textarea>
                </fieldset>
                <button class="btn float-btn color-btn">  Submit Comment <i class="fas fa-caret-right"></i> </button>
            </form>
        </div>
    </div>
    <!--end respond-->
</div>
<!--comments end -->